<div class="header-left">
    <img src="/static/logo/light-logo.png" alt="Light Mode Logo" class="logo light-logo">
    <img src="/static/logo/dark-logo.png" alt="Dark Mode Logo" class="logo dark-logo">
</div>
<div class="header-right">
    <div class="dropdown">
        <button class="dropbtn" id="toggle-dark-btn">Toggle Light/Dark Mode</button>
    </div>
    <div class="settings">
        <button>Settings</button>
    </div>
    <div class="login">
        <button>Login</button>
    </div>
</div>